<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dr</title>
    <link rel="stylesheet" href="/bootstrap-5.3.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap-icons-1.11.3/font/bootstrap-icons.css">
    <style>
        .social-links{
            padding-left: 800px;
        }
        .branding{
            z-index: -1;
            background-color: rgba(255, 255, 255, 0.973);
            box-shadow: 0 2px 4px #e6e6e69c ;
        }
        .navmenu a{
            text-decoration: none;
            transition: 0.3s;
            color: #000;
        }
        nav a:hover{
            color: rgb(108, 108, 245);
            transition: 0.3s;
        }
        ul li a{
            text-decoration: none;
        }
        ul{
            text-decoration: none;
        }
        .sitename{
            font-weight: bolder;
        }
        .image{
            height: 620px;
            width: 100%;
        }

        .h3{
            font-weight: bolder;
            color: #29495c;
            font-size: 48px;
        }
        .home-text{
            padding-top: 80px;
        }
        .home-text p{
            font-weight: 500;
            font-size: 25px;
        }
        .dept-btn{
            background-color: #ffffff9c;
        }
        .working-hours .card{
            height: 10vh;
            width: 40vh;
        }
        .text-center{
            background-color: #4a88e6;
        }
        .card{
            width: 50vh;
            text-align: center;
            height: 330px;
            margin-top: 40px;
            margin-right: 20px;
        }

        .department-box,.services-box{
            width: 40vh;
            background-color: rgba(255, 255, 255, 0.788);
        }
        .about img{
            width: 50%;
        }
        .about-text .p{
            font-weight:600;
        }
        .icon{
            border-radius: 0 4px 8px #000;
        }
        .service-card{
            text-align: center;
            background-color: #fff;
            padding-top: 90px;
            color: #000;
        }
        .service-card:hover{
            background-color: #0580b1;
            color: #ffffff;
        }
        .section-title{
            text-align: center;
        }
        .btb1{
            text-align: center;
            border-bottom: 1px solid #000;
            width: 100px;
            margin-left: -80px;
        }
        .btb3{
            text-align: center;
            border-bottom: 1px solid #000;
            width: 90px;
            margin-right: -100px;
        }
        .service{
            background-color: #eaeff3;
            padding-bottom: 50px;
        }
        .home-contents{
            margin-top: -50vh;
        }
        .appointment-title{
            text-align: center;
        }
        .bdrbs{
            display: flex;
            margin-left: 560px;
        }
        .bdrbb{
            display: flex;
            margin-left: 550px;
        }
        .bdrb1{
            border-bottom: 1px solid #000;
            width: 50px;
        }
        .bdrb2{
            border-bottom: 5px solid #1f5272;
            width: 70px;
        }
        .bdrb3{
            border-bottom: 1px solid #000 ;
            width: 50px;
        }
        .doctor-card{
            display: flex;
        }
        .d-links{
            background-color: #d6d5d5;
        }
        .d-link{
            background-color: #d8d8d856;
            border-radius: 50%;
        }
        .dc .card{
            width: 80vh;
            height: 80%;
            box-shadow: 0px 4px 8px #d3d3d3;
            text-align: start;
        }
        .dc img{
            border-radius: 50%;
            height: 150px;
            width: 150px;
        }
        .name{
            font-weight: bolder;
            color: #1f5272;
            font-size: 25px;
        }
        .bdrbd{
            border-bottom: 1px solid #c0c0c0;
            width: 50px;
            margin-top: -10px;

        }
        .about{
            font-weight: 100;
            color: #070707;
            font-size: 16px;
            margin-top: -20px;
        }
        .FAQs{
            width: 60%;
            margin-left: 30vh;
        }
        .footer{
            background-color:#eaeff3;
        }
        .f-link{
            border: 1px solid #c7cbce;
            border-radius: 50%;
        }
        .links{
            margin-left: 20vh;
        }
        .linkss{
            margin-left: 10vh; 
        }
    </style>
</head>
<body id="home">
    
    <div class="bg-primary py-1 top">
        <div class="container text-light d-flex">
            <div class="contact-info">
                <span class="bi bi-envelope m-5  mx-1 cursor">Drj'Damour@gmail.com</span>
                <i class="bi bi-telephone">+250788583452</i>
            </div>
            <div class="social-links d-none d-md-flex align-items-center m-auto">
                <a href="#" class="twitter text-light"><i class="bi bi-twitter-x mx-1"></i></a>
                <a href="#" class="facebook text-light"><i class="bi bi-facebook mx-1"></i></a>
                <a href="#" class="instagram text-light"><i class="bi bi-instagram mx-1"></i></a>
                <a href="#" class="linkedin text-light"><i class="bi bi-linkedin mx-1"></i></a>
            </div>
        </div>
    </div>
    <section class="top sticky-top">
        </div>
        <div class="branding d-flex align-items-center ">
            <div class=" my-4 container position-relative d-flex align-items-center justify-content-between">
                <a href="/" class="logo me-auto nav-link">
                    <h2 class="sitename bolder">Dr j'damour</h2>
                </a>
                <nav id="navmenu" class="navmenu mx-4">
                    <a href="#home" class="active px-2">Home</a>
                    <a href="#about" class=" px-3">About</a>
                    <a href="#services"class=" px-3">Services</a>
                    <a href="#departments"class=" px-3">Departments</a>
                    <a href="#doctors"class=" px-3">Colligues</a>
                    <a href="#contact"class=" px-3">Contact us</a>
                    <a href="#appointment" class="btn btn-primary text-light">Make an Appointment</a>
                    <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
                </nav>
            </div>
        </div>
    </section>
    <!-- home -->
    <section class="">
        <div class="">
            <%home.forEach((data)=>{%>
        <section id="hero" class="section image" style="background-image: url('/img/hero-bg.jpg');">
            <!-- <img src="/img/hero-bg.jpg" alt=""  class="image"> -->
            <div class="container home-text">
                <!-- from home -->
                 <h3 class="h3"><%=data.title%></h3>
                 <p>
                    <%=data.description%> 
                 </p>
            <%});%>
            </div>
        </div>
            <div class="container">
                <!-- from homecontent -->
                 <div class="content row gy-4 d-flex">
                    <div class="d-flex align-items-strech home-contents">
                        <div class="why-box card bg-primary text-light p-5">
                        <%homecontent.forEach((data)=>{%>
                            <span class="bi bi-hospital h1"></span>
                            <h2><%=data.title%></h3>
                            <p>
                                <%=data.description%>
                            </p>
                            <div class="">
                                <center>
                                <a href="#about" class="btn link text-light text-center"><span>
                                    Learn more
                                </span><i class="bi bi-chevron-right"></i></a>
                                </center>
                            </div>
                        <%});%>
                        </div>
                        <div class="services-box card text-dark p-5">
                            <%homeservice.forEach((data)=>{%>
                            <span class="bi bi-people-fill h1 text-primary"></span>
                            <h3><%=data.title%></h3>
                            <p>
                                <%=data.description%> 
                            </p>
                            <div class="">
                                <center>
                                <a href="#services" class="btn link text-center"><span>
                                    Learn more
                                </span><i class="bi bi-chevron-right"></i></a>
                                </center>
                            </div>
                            <%});%>
                        </div>
                        <div class="department-box card text-dark p-5">
                            <span class="bi bi-duffle h1 text-primary"></span>
                            <h4>DEPARTMENTS</h4>
                            <p>
                                <%departments.forEach((data)=>{%>
                                <a href="#department" class="btn link text-center dept-btn"><span>
                                    <%=data.title%>
                                </span><i class="bi bi-chevron-right"></i></a>
                            </p>
                            <%});%>
                        </div>
                    </div>
                 </div>
            </div>
        </section>
    <!-- About section -->
     <section class="about my-5 py-5">
        <div class="container d-flex my-5" id="about">
            <!-- from home -->
            <!-- <img src="/img/about.jpg" alt="" class="img-fluid"> -->
             <%about.forEach((data)=>{%>
            <img src="uploads/<%=data.image%>" alt="">
            <div class="mx-5 about-text my-5">
                
                <h3 class="h3"><%=data.title%></h3>
                <p class="p">
                    <%=data.description%></p>
                    <!-- from home cony=tent -->
                    <%});%>
                    <div class="home-content">
                        <div class="working-hours d-flex">
                            <div class="text card">
                                <span class="bi bi-clipboard-data text-primary h1 mx-4"></span>
                                <h5>30 + Trusted Partners</h5>
                            </div>
                        <div class="working-hours d-flex">
                            <div class="text card">
                                <span class="bi bi-people text-primary h1 mx-4"></span>
                                <h5>10 + specialized doctors</h5>
                            </div>
                        </div>
                        </div>
                        <div class="working-hours d-flex">
                            <div class="text card">
                                <span class="bi bi-people text-primary h1 mx-4"></span>
                                <h5>5 + Departments</h5>
                            </div>
                            <div class="working-hours d-flex">
                                <div class="text card">
                                    <span class="bi bi-clock text-primary h1 mx-4"></span>
                                    <h5>24/7 available</h5>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
     </section>
     <!-- services -->
      <section class="service">
        <div class="container section-title" id="services">
            <h2>Services</h2>
            <div class="bdrbs">
                <p class="bdrb1"></p>
                <center><p class="bdrb2"></p></center>
                <p class="bdrb3"></p>
            </div>
            <p>Our first priority is to offer you with first class services</p>
            
        </div>
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-4 col-md-6">
                    <div class="service-item position-relative card service-card">
                    <div class="icon">
                            <i class="bi bi-heart-pulse-fill h1 text-primary"></i>
                        </div>
                            <h3>Eosle Commodi</h3>
                    <p>Ut autem aut autem non a. Sint sint sit facilis nam iusto sint. Libero corrupti neque eum hic non ut nesciunt dolorem.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item position-relative card service-card">
                    <div class="icon">
                            <i class="bi bi-capsule h1 text-primary"></i>
                        </div>
                            <h3>Eosle Commodi</h3>
                    <p>Ut autem aut autem non a. Sint sint sit facilis nam iusto sint. Libero corrupti neque eum hic non ut nesciunt dolorem.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item position-relative card service-card">
                    <div class="icon">
                            <i class="bi bi-file-earmark-medical h1 text-primary"></i>
                            <i class="bi bi-"></i>
                        </div>
                            <h3>Eosle Commodi</h3>
                    <p>Ut autem aut autem non a. Sint sint sit facilis nam iusto sint. Libero corrupti neque eum hic non ut nesciunt dolorem.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- appointment section -->
    <section class="appointments my-5" id="appointment">
        <div class="container">           
            <div class="container appointment-title">
                <h2>Appointments</h2>
                <div class="bdrbb">
                    <p class="bdrb1"></p>
                    <center><p class="bdrb2"></p></center>
                    <p class="bdrb3"></p>
                </div>
                <p>Book your appointment right now to meet our specialists</p>
                
            </div>
            <div class="form my-5">
                <form action="/makeAppointment" method="post">
                    <div class="personal-details d-flex form-group">
                        <input type="text" class="form-control m-2" name="names" placeholder="Your Names">
                        <input type="text" class="form-control m-2" name="email" placeholder="Your email">
                        <input type="text" class="form-control m-2" name="phone" placeholder="Your phone">
                    </div>
                    <div class="personal-details d-flex form-group">
                        <input type="date" class="form-control m-2" name="appointment_date" placeholder="Your Names">
                        <select name="department_name" id="" class="form-control m-2">
                            <option value="asd" dis>Select Department</option>
                            <%departments.forEach((data)=>{%>
                                <option value="department"><%=data.title%></option>
                            <%});%>
                        </select>
                        <select name="doctors_name" id="" class="form-control m-2">
                            <option value="asd">Select doctor</option>
                            <%team.forEach((data)=>{%>
                                <option value="doctor"><%=data.name%></option>
                            <%});%>
                        </select>                    
                    </div>
                    <div class="personal-details d-flex form-group">
                        <textarea class="form-control my-3" name="message" rows="5" placeholder="Message (optional)" id=""></textarea>
                    </div>
                    <center>
                        <button class="btn submit-app bg-primary text-center text-light submit" type="submit">Make an Appointment</button>
                    </center>
                </form>
            </div>

        </div>
    </section>
    <!-- departments section -->
     <section class="departments my-5" id="department">
        <div class="container">         
            <div class="container appointment-title">
                <h2>Departments</h2>
                <div class="bdrbb">
                    <p class="bdrb1"></p>
                    <center><p class="bdrb2"></p></center>
                    <p class="bdrb3"></p>
                </div>
                <p>We have different departments maching our teams specializations approach us to testify our speciality in caring you!!</p>
            </div>
            <div class="d-flex">
                <%departments.forEach((data)=>{%> 
                <div class="card" style="width: 25rem; height: auto;">
                    
                    <div class="card-body">
                        <img src="uploads/<%=data.image%>" class="card-img-top" alt="departments-image">
                    <h5 class="card-title"><%=data.title%></h5>
                    <p class="card-text"><%=data.description%></p>
                    <a href="#appointment" class="btn btn-primary">Make appointment now!!</a>
                    </div>
                </div>
                <%});%>
            </div>
        </div>
     </section>
     <!-- Team/doctors -->
      <section class="doctor my-5">
        <div class="container" id="doctors">           
            <div class="container appointment-title">
                <h2>Doctors</h2>
                <div class="bdrbb">
                    <p class="bdrb1"></p>
                    <center><p class="bdrb2"></p></center>
                    <p class="bdrb3"></p>
                </div>
                <p>This is our team of specialists that is here to help you throught your health prblems</p>
                
            </div>
            <div class="doctor-card">
                <%team.forEach((data)=>{%>
                <div class="dc">
                    <div class="card">
                        <div class="doctor-card">
                            <div class="img  p-4">
                                <img src="uploads/<%=data.image%>" alt="" class="card-img">
                            </div>
                            <div class="">
                                <p class="name pt-4"><%=data.name%></p>
                                <p class="about"><%=data.about%></p>
                                <div class="mx-5 bdrbd"></div>
                                <p style="font-size: 14px;"><%=data.description%></p>
                                <div class="d-flex">
                                    <span><a href="#.." class="p-2 d-link nav-link bi bi-twitter-x mx-1"></a></span>
                                    <span><a href="#.." class="p-2 d-link nav-link bi bi-facebook mx-1"></a></span>
                                    <span><a href="#.." class="p-2 d-link nav-link bi bi-instagram mx-1"></a></span>
                                    <span><a href="#.." class="p-2 d-link nav-link bi bi-linkedin mx-1"></a></span>
                                    <span><a href="#.." class="p-2 d-link nav-link bi bi-telephone mx-1"></a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <%});%>
                              
            </div>
        </div>
      </section>
      <!-- FAQs -->

      <!-- CONTACT SECTION -->
       <section class="contact my-5">
        <div class="container" id="contact">         
            <div class="container appointment-title">
                <h2>Contact Us</h2>
                <div class="bdrbb">
                    <p class="bdrb1"></p>
                    <center><p class="bdrb2"></p></center>
                    <p class="bdrb3"></p>
                </div>
                <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
            </div>
        </div>
        <div class="container d-flex">
            <div class="contacts">
                <div class="location d-flex">
                    <i class="bi bi-globe-europe-africa h1 text-primary py-1"></i>
                    <div class="location-text">
                        <p class="name px-3">Location</p>
                        <p class="about px-3">KK509 St,KIGALI, RWANDA</p>
                    </div>
                </div>
                <div class="location d-flex">
                    <i class="bi bi-telephone h1 text-primary py-1"></i>
                    <div class="location-text">
                        <p class="name px-3">Call Us</p>
                        <p class="about px-3">+250 788 583 452</p>
                    </div>
                </div>
                <div class="location d-flex">
                    <i class="bi bi-envelope h1 text-primary py-1"></i>
                    <div class="location-text">
                        <p class="name px-3">Email Us</p>
                        <p class="about px-3">Drj'Damour@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="FAQs">
                <form action="/addFaq" method="post" enctype="multipart/form-data">
                    <div class="personal-details d-flex form-group">
                        <input type="text" class="form-control m-2" name="names" placeholder="Your Names">
                        <input type="text" class="form-control m-2" name="email" placeholder="Your email">
                    </div>
                    <div class="personal-details d-flex form-group">
                        <input type="text" class="form-control m-2" name="subject" placeholder="subject">                    
                    </div>
                    <div class="personal-details d-flex form-group">
                        <textarea class="form-control my-3" name="question" rows="5" placeholder="Your Question" id=""></textarea>
                    </div>
                    <center>
                        <button class="btn submit-app bg-primary text-center text-light" type="submit" disabled>Ask Question</button>
                    </center>
                </form>
            </div>
        </div>
       </section>
       <!-- Footer Section -->

        <section class="footer">
            <hr class="text-primary">
            <div class="container d-flex" id="footer">
                <div class="contacts">
                    <a href="#home" class="p-3 py-4 nav-link name">Dr j'Damour</a>
                    <div class="location d-flex">
                        <div class="location-text">
                            <p class="about px-3 p-1">KK509 St</p>
                            <p class="about px-3 p-1">KIGALI, RWANDA</p>
                        </div>
                    </div>
                    <div class="location d-flex">
                        <div class="location-text">
                            <h5 class="px-3 p-1">Phone: <span class="about">+250 788 583 452</span></h5>                            
                        </div>
                    </div>
                    <div class="location d-flex">
                        <div class="location-text">
                            <h5 class="px-3">Email : <i class="about">Drj'Damour@gmail.com</i></h5>
                        </div>
                    </div>
                    <div class="d-flex my-4">
                        <span><a href="#.." class="p-2 f-link nav-link bi bi-twitter-x mx-1 h1"></a></span>
                        <span><a href="#.." class="p-2 f-link nav-link bi bi-facebook mx-1 h1"></a></span>
                        <span><a href="#.." class="p-2 f-link nav-link bi bi-instagram mx-1 h1"></a></span>
                        <span><a href="#.." class="p-2 f-link nav-link bi bi-linkedin mx-1 h1"></a></span>
                    </div>
                </div>
                <div class="links">
                    <a href="#home" class="p-3 py-4 nav-link name">Additional Links</a>
                    <span><a href="#.." class="p-1 nav-link  mx-1 h1">Home</a></span>
                    <span><a href="#.." class="p-1 nav-link mx-1 h1">Services</a></span>
                    <span><a href="#.." class="p-1 nav-link  mx-1 h1">Appointments</a></span>
                    <span><a href="#.." class="p-1 nav-link mx-1 h1">Terms Of Services</a></span>
                    <span><a href="#.." class="p-1 nav-link mx-1 h1">Privacy policy</a></span>
                </div>
                <div class="links">
                    <a href="#home" class="p-3 py-4 nav-link name">Our Services</a>
                    <span><a href="#.." class="p-1 nav-link  mx-1 h1">Eosle Commodi</a></span>
                    <span><a href="#.." class="p-1 nav-link mx-1 h1">Lorem ipsum dolor</a></span>
                    <span><a href="#.." class="p-1 nav-link  mx-1 h1">Appost dherma</a></span>
                    <span><a href="#.." class="p-1 nav-link mx-1 h1">derhil snewydewy</a></span>
                </div>
                <div class="linkss">
                    <a href="#home" class="p-3 py-4 nav-link name">Coming soon...</a>
                    <span><a href="#.." class="p-1 nav-link  mx-1 h1">Hepatology</a></span>
                    <span><a href="#.." class="p-1 nav-link mx-1 h1">Pediatrics</a></span>
                    <span><a href="#.." class="p-1 nav-link  mx-1 h1">Pschychology</a></span>
                    <span><a href="#.." class="p-1 nav-link  mx-1 h1">Ledo Markt</a></span>
                    <span><a href="#.." class="p-1 nav-link  mx-1 h1">Heart Press</a></span>
                    <span><a href="#.." class="p-1 nav-link mx-1 h1">Testimonials</a></span>
                </div>
            </div>
            <hr class="text-primary">
            <center class="py-4">
                <p class="about">© copyright <i style="font-weight: bold;"> Drj'damour </i> All rights Reserved®</p>
                Designed by <span class="about text-primary">SB4r</span>
            </center>
        </section>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/bootstrap-5.3.3-dist/js/bootstrap.min.js"></script>
    <script>
    </script>
</body>
</html>
